:root {
    /* colores */
    --fondo: #0c0c0cee;
    --fondoOscuro: #303030ee;
    --texto: #c6c6c6;
    --tipografia: sans-serif;
    --nota: #d3d498;
}

body {
    /* colores y tipografia general */
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: var(--texto);
    font-family: var(--tipografia);
    /* margenes */
    padding: 10%;
}
/* HEADER */
header {
    height: 20vh;
    text-align: center;
}
.titulo {
    font-size: 3em;
    margin: 0;
    text-shadow: 0 4px 0 black;
}
.subtitulo {
    font-size: 1em;
    text-shadow: 0 2px 0 black;
}
/* MAIN */
main {
    height: 80vh;
    text-align: center;
}
#btnexcusa{
    font-size: 3em;
    border-radius: 10px;
    margin-top: 2em;
}

#nota {
    color: var(--nota);
}

/* RESPUESTA */
.respuestas {
    background-color: var(--fondoOscuro);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
#respuesta {
    font-size: 3em;
}
