:root {
    /* colores */
    --fondo: #790a0aee;
    --fondoOscuro: #303030ee;
    --texto: #c6c6c6;
    --tipografia: sans-serif;
    --nota: #d3d498;
}

body {
    /* colores y tipografia general */
    background-color: var(--fondo);
    color: var(--texto);
    font-family: var(--tipografia);
    /* margenes */
    padding: 10%;
}
/* HEADER */
header {
    height: 20vh;
    text-align: center;
}
.titulo {
    font-size: 2em;
    margin: 0;
}
.subtitulo {
    font-size: 1em;
}
/* MAIN */
main {
    height: 80vh;
}
#mi-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--texto);
    width: 100%;
    color: var(--texto);
}

#nota {
    color: var(--nota);
}

/* RESPUESTA */
.respuestas {
    background-color: var(--fondoOscuro);
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
#respuesta {
    font-size: 2em;
}
